streamlit==1.51.0
python-dotenv==1.2.1
langchain==0.3.27
langchain-core==0.3.74
langchain-community==0.3.29
langchain-text-splitters==0.3.11
langchain-mistralai==0.2.11
mistralai==1.9.11
faiss-cpu==1.12.0
pypdf==6.1.3
